/* universal/page wide settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

p {
  font-size: 16px;
}

/* heading content: Title and navbar */
.banner {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.banner h1 {
  display: inline-block;
  font-size: 48px;
}

.seo {
  /* increased the contrast between the heading and the span contents */
  color: #d4a627;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  background-color: #2a607c;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus {
  text-emphasis: none;
  color: #d4a627;
}

/* main content */
.img-spread {
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.main-content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.main-content-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.main-content-section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.main-content-section img {
  max-height: 200px;
}

.img-float-left {
  float: left;
  margin-right: 25px;
}

.img-float-right {
  float: right;
  margin-left: 25px;
}

/* aside section */
.side-content-benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
.side-content-benefits h2 {
  color: #d4a627;
  text-align: center;
}

.benefits-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefits-section {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits-section img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* footer content: credits and return to top */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.back-to-top {
  padding: 10px;
  display: inline-block;
  margin: 15px;
  border: 2px solid #d4a627;
  background-color: #0072bb;
}

.footer h2 {
  font-size: 20px;
}

/* breakpoints */
@media screen and (max-width: 1028px) {
  li {
    border: 2px solid #d4a627;
    padding: 5px;
  }

  .main-content {
    width: 100%;
  }

  .side-content-benefits {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    float: none;
  }
}

@media screen and (max-width: 884px) {
  .main-content-section img {
    display: none;
  }
}

@media screen and (max-width: 564px) {
  .main-content-section {
    overflow: auto;
  }
}
